<header class="relative">

  <!--navbar-->
  <div class="flex flex-row items-center shadow-lg text-gray-700 bg-white flex-shrink-0 p-2 font-medium w-full h-14">
    <img *ngIf="!showArrowBack" id="navbar" (click)="show()" class="cursor-pointer mr-4"
         src="assets/images/icon-menu.svg" alt="menu icon">
    <img *ngIf="showArrowBack" (click)="goBack()" class="cursor-pointer mr-4" src="assets/images/icon-arrow-left.svg"
         alt="menu icon">
    <span class="text-2xl w-full text-center" *ngIf="(loading$ | async) != true">{{ title }}</span>
  </div>

  <!--sidebar-->
  <nav id="sidebar" class="flex flex-col w-64 h-screen shadow-lg text-gray-700 bg-white flex-shrink-0
        absolute top-0 transform -translate-x-full transition duration-300 ease-in-out" #showHideMenu>
    <div id="menu" class="flex justify-between p-3">
      <span class="font-medium text-2xl">Menu</span>
      <img (click)="hide()" class="cursor-pointer mt-1 mr-0.5" src="assets/images/icon-cross.svg" alt="cross icon">
    </div>
    <ul class="text-lg">
      <li (click)="hide()" class="flex justify-between p-3.5 border-b border-black hover:text-gray-900 hover:bg-gray-200 cursor-pointer"
          routerLink="/movies"
          routerLinkActive="bg-gray-100"
      >
        <span>{{ 'navbar.movies' | translate }}</span>
        <img src="assets/images/icon-arrow-right.svg" alt="arrow right icon">
      </li>
      <li class="flex justify-between p-3.5 border-b border-black cursor-pointer hover:text-gray-900 hover:bg-gray-200">
        <span>{{ 'navbar.actors' | translate }}</span>
        <img src="assets/images/icon-arrow-right.svg" alt="arrow right icon">
      </li>
      <li class="flex justify-between p-3.5 border-b border-black cursor-pointer hover:text-gray-900 hover:bg-gray-200">
        <span>{{ 'navbar.studios' | translate }}</span>
        <img src="assets/images/icon-arrow-right.svg" alt="arrow right icon">
      </li>
    </ul>
  </nav>

</header>
